.navbar {
    font-family: 'Abril Fatface', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    color: #ffffff !important;
    background-color: #4e90a4;
}

.navbar-brand.global {
    color: #202121 !important;
}

.navbar-brand {
    color: #f3fbf1 !important;
}
body {
    color: #202121;
    background: #f4f7f6;
    font-size: 2vmin !important;
}

.card {
    border-radius: .75rem;
}


.js-plot-link-container {
    display:none;
}

#viewBox {
    position:relative;
    height:100%;
}

.loading-circle {
   font-size: 72px !important;
   position:absolute;
   left:45%;
   top:40%;
}

.carousel .trace.bars .points .point:nth-child(even) path{

    fill:#4e90a4 !important;
}
.carousel .trace.bars .points .point:nth-child(odd) path{

    fill:#3ec8ac !important;
}

/* .trace.bars .points .point:nth-child(even) path{

    fill:#6e60a0 !important;
}
.trace.bars .points .point:nth-child(odd) path{

    fill:#4e90a4 !important;
} */

path.leaflet-interactive{
    fill:#85a6b1;
}
path.leaflet-interactive{
    fill:#414a50;
}
.btn.btn-green{
    background-color:#4e90a4;
    color:#f7f6de;
}

.yaxislayer-above .ytick text{
    fill:#28385e !important;
}
@media screen and (min-width: 1081px) {

}

.filename {

    justify-content: center;
    display: flex;
    background-color:#3ec8ac;
    color:white;
}
.leaflet-popup{

}

.card-body{
    position: relative;
    height: 100%;
}

.flex-box{
    display: flex;
    flex-direction: column;
}
.flex-box > div {
    flex: 1;
}

.card-body > .flex-box{
height:95%;
}

.plot-container.plotly{
 height:100%;
 width:100%;
}

.carousel .card {
    height:100%;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2317a2b8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2317a2b8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.dropdown-menu{
  white-space: normal;
}

.dropdown-col:nth-child(odd) .dropdown-row:nth-child(even),
.dropdown-col:nth-child(even) .dropdown-row:nth-child(odd){
    background-color:#f4f9f4;
}
.dropdown-col{
    text-align: left;
    cursor: pointer;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1080px) {
    body{
        font-size: 60px;
    }
    h5 {
        font-size:1.5em;
    }

    .navbar-brand {
        font-size: 1.5em;
    }

    .btn {
        display: block;
        width: 100%;
        font-size: 1.5em;
    }

    .dropdown-item{
        font-size: 1.5em;
    }
    svg text {

    }

    svg .infolayer text {
        font-size: 50px !important;
    }

    .card-body svg {
        padding:20px;
    }

    .map-top-container {
        height:50%;
    }


}
