{% if returnPartial == None or returnPartial == False %}
{% extends "_layout.html" %}
{% endif %}

{% import 'Macros/CardMacro.html' as Card %}
{% import 'Macros/JsonToChartFormMacro.html' as Jf %}
{% import 'Macros/NavList.html' as Nav %}

{% block content %}

<div class="row">
  <p class="btn btn-secondary" href="{{ url_for("ChartPlot.GetTable" , filename = resourceName) }}" onclick="App.OpenLinkInDiv(href , '#APIViewBox')">View Raw Data</p>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="row">
      <p>Example Record</p>
      <pre>
          <code>
            {{ json }}
          </code>
          </pre>
    </div>

    <div class="row">
      {{ Jf.input(resourceName , chartType, exampleDic , url) }}
    </div>
  </div>

  <div class="col-md-8">
    {{ Card.input('','', barChart ) }}
  </div>
</div>



{% endblock %}
