{% import 'Macros/CardMacro.html' as Card %}
{% import 'Macros/ButtonMacro.html' as Btn %}
{% import 'Macros/CarousalMacro.html' as Carsl %}
{% block content %}
<div class="row " height="100%">
    {% if side_chart %}
        <div class="col-md-12 col-lg-6 map-top-container">
    {%else%}
        <div class="col-md-12 col-lg-6 map-top-container" >
    {% endif%}
            {{ Card.input( map.Title  , map.Subtitle, map.Html ) }}
        </div>

    {% if side_chart %}

        <div class="col-sm-12 col-md-12 col-lg-6">
            
            <div style="height:50%;">
                    {{Card.input('Quick Stats','', Carsl.input('sideStat',carousal)   )}}
            </div>
            <div style="height:50%;">
                    {{ Card.input('','',side_chart  ) }}
            </div>
        </div>

    {% endif%}
    </div>
</div>
<div class="row">
    {% for barChart in  bar_charts %}

    <div class="col-md-12 col-lg-6">
        {%set onclick = 'App.OpenLinkInDiv("{0}" , "#viewBox");window.scrollTo(0,0);'.format(endpoint | replace("#YAXIS" , loop.index))%}
        {{ Card.input( None ,None, barChart , [Btn.input('View In Map' , 'btn btn-green' , onclick , 'fa fa-map')]) }}
        
    </div>

    {% endfor %}
</div>

{% endblock %}