{% import 'Macros/CardMacro.html' as Card %}
{% import 'Macros/ButtonMacro.html' as Btn %}

{% block content %}
<div class="row map-top-container" height="100%">
    {% if side_chart %}
    <div class="col-md-12 col-lg-6">
        {%else%}
        <div class="col-md-12 col-lg-6">
            {% endif%}
            {{ Card.input( map.Title  , map.Subtitle, map.Html ) }}
        </div>

        {% if side_chart %}

        <div class="col-md-12 col-lg-6">
            {{ Card.input('','',side_chart  ) }}
        </div>

        {% endif%}
    </div>
</div>
<div class="row">
    {% for barChart in  bar_charts %}

    <div class="col-md-12 col-lg-6">
        {%set onclick = 'App.OpenLinkInDiv("{0}" , "#viewBox");window.scrollTo(0,0);'.format(endpoint | replace("#YAXIS" , loop.index))%}
        {{ Card.input( None ,None, barChart , [Btn.input('View In Map' , 'btn btn-green' , onclick)]) }}
        
    </div>

    {% endfor %}
</div>

{% endblock %}