{% macro input(title, subtitle, content , ui=None) -%}

<div class="card flex-box">
  <div class="card-body flex-box">

    <div class="flex-box">
      {%if ui != None%}
      <div class="row-fluid" style="flex:none">
        {%for uiobj in ui%}
        <div class="col">{{uiobj}}</div>
        {% endfor %}
      </div>
      {%endif%}

      {%if title !='' and subtitle != ''%}
      <div class="row-fluid" style="flex:none">
        {%if title%}
        <h5 class="card-title">{{title|safe }}</h5>
        {%endif%} {%if subtitle%}
        <h6 class="card-subtitle mb-2 text-muted">{{subtitle |safe}}</h6>
        {%endif%}
      </div>
      {% endif %}


      <div class="map-holder flex-box">
        {{ content}}
      </div>
    </div>

  </div>
</div>

{%- endmacro %}
