{% macro input(resourceName , chartType,dictionary , url) -%}

{% import 'Macros/UniqueIdMacro.html' as UID %}
{% set uid = UID.random_int(10) %}



<div class="row-fluid">

  <form method="POST" action="/{{url}}/{{resourceName}}/{{chartType}}" class="form-inline">
    <div class="form-row">

      <div class="form-group" style="width:inherit;position:absolute">
        {% for dropdown in ["X" , "Y"] %}
        <div>
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="dropdown{{dropdown}}">{{dropdown}}</label>
            </div>
            <select class="form-control dropdown-menu" id="dropdown{{dropdown}}" name="{{dropdown}}Axis">
              {% for key,value in dictionary.items() %}
              <option class="dropdown-item">{{key}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endfor %}

        <div class="form-check">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input class="form-check-input" type="checkbox" id="IsHorizontal" name="IsHorizontal" value="true">
              <label class="form-check-label" for="IsHorizontal">Horizontal</label>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <button class="btn btn-default" type="submit">Apply</button>
        </div>
      </div>

    </div>


  </form>
</div>

{%- endmacro %}
